.first_page_main,
.second_page_main {
  width: 30%;
  margin: auto;
  margin-top: 5%;
  padding: 5%;
  border: 8px solid black;
}
input {
  padding: 10px 20px;
  font-size: 22px;
  width: 50%;
}

.first_page_main > button,
.second_page_main > button {
  padding: 10px 15px;
  width: 50%;
  font-size: 22px;
  background-color: dodgerblue;
  color: white;
  border: 0;
}
button:hover {
  cursor: pointer;
}

.register_btn {
  padding: 20px 30px;
  font-size: 22px;
  color: white;
  background-color: dodgerblue;
  border: 0;
  margin: 10px;
}

.user_main {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  padding: 5%;
  border: 8px solid black;
  text-align: center;
}
.user_table {
  width: 100%;
  text-align: center;
  border: 1px solid dodgerblue;
}
th,
td {
  font-size: 20px;
  border: 1px solid dodgerblue;
}
